{% extends 'spam/base.html' %}
{% block content %}
<div class="row text-center">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card mb-1 box-shadow">
            <div class="card-header">
                <h4 class="font-weight-normal">{{ object.subject }}</h4>
            </div>


            <div class="card-body">
                <div class="mb-3 font-weight-normal">
                    <h6>Текст сообщения:</h6>
                    <h6 class="text-muted">{{ object.body }}</h6>
                </div>
            </div>

            <div class="card-footer">
                <div class="row">
                    <div class="col"><a href="{% url 'spam:change_message' object.pk %}"
                                        class="btn btn-outline-secondary">
                        Изменить запись</a>
                    </div>
                    <div class="col-4"></div>
                    <div class="col"><a href="{% url 'spam:delete_message' object.pk %}"
                                        class="btn btn-outline-danger">
                        Удалить запись</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
