{% extends 'spam/base.html' %}

{% block content %}
<a href="{% url 'spam:create' %}" class="btn btn-outline-secondary mb-3">
    Создать новую рассылку
</a>
<div class="row">
    <div class="col-12">
        <div class="col-8">
            {% if not object_list %}
            <div class="form-control border-success border-opacity-25 text-center fs-5">Рассылки отсутствуют</div>
            {% else %}
            <div class="form-control border-success border-opacity-25 text-center fs-5">Список рассылок</div>
            <table class="table text-center">
                <tr>
                    <th>Название рассылки</th>
                    <th>Время</th>
                    <th>Периодичность</th>
                    <th>Статус</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for item in object_list %}
                <tr class="align-middle">
                    <td>{{ item.title }}</td>
                    <td>{{ item.spam_time }}</td>
                    <td>{{ item.periodicity }}</td>
                    <td>{{ item.get_status_display|title }}</td>
                    <td>
                        <a type="button" href="{% url 'spam:detail' item.pk %}"
                           class="btn btn-outline-dark btn-sm">
                            Подробнее
                        </a>
                    </td>
                    {% if perms.spam.view_logs %}
                    <td>
                        <a type="button" href="{% url 'spam:logs_list' item.pk %}"
                           class="btn btn-outline-dark btn-sm">
                            Просмотр логов
                        </a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
                {% endif %}
            </table>
        </div>
    </div>
</div>
{% endblock %}