{% extends 'spam/base.html' %}
{% block content %}
<div class="row text-center">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card mb-1 box-shadow">
            <div class="card-header font-weight-normal">
                <h4>{{ object.title }}</h4>
            </div>

            <div class="card-body">
                <div class="mb-3 font-weight-normal">
                    <h6>Время рассылки:</h6>
                    <h6 class="text-muted">{{ object.spam_time }}</h6>
                </div>
                <hr>
                <div class="mb-3 font-weight-normal">
                    <h6>Периодичность отправки (дней):</h6>
                    <h6 class="text-muted">{{ object.periodicity }}</h6>
                </div>
                <hr>
                <div class="mb-3 font-weight-normal">
                    <h6>Текущий статус:</h6>
                    <h6 class="text-muted">Рассылка {{ object.get_status_display }}</h6>
                    {% if object.status == 'created' and object.created_by == user %}
                    <span class="badge text-bg-success">
                        <a class="link-light link-underline-opacity-0 link-underline-opacity-75-hover"
                           href="{% url 'spam:toggle_status' object.pk %}">Запустить рассылку</a>
                    </span>
                    {% elif object.status == 'started' %}
                    <span class="badge text-bg-success">
                        <a class="link-light link-underline-opacity-0 link-underline-opacity-75-hover"
                           href="{% url 'spam:toggle_status' object.pk %}">Завершить рассылку</a>
                    </span>
                    {% endif %}
                </div>
                <hr>
                <div class="mb-3 font-weight-normal">
                    <h6>Получатели рассылки:</h6>
                    {% for client in object.clients.all %}
                    <a class="list-group-item h6 text-muted link-underline link-underline-opacity-0"
                           href="{% url 'client:detail' client.pk %}">{{ client }}</a>
                    {% endfor %}
                    <hr>
                    <div class="mb-3 font-weight-normal">
                        <h6>Сообщение к отправке:</h6>
                        <a class="h6 text-muted link-underline link-underline-opacity-0"
                           href="{% url 'message:detail' object.message.pk %}">{{ object.message }}</a>
                    </div>
                </div>
            </div>
            {% if object.created_by == user %}
            <div class="card-footer">
                <div class="row">
                    <div class="col"><a href="{% url 'spam:update' object.pk %}"
                                        class="btn btn-outline-secondary">
                        Изменить рассылку</a>
                    </div>
                    <div class="col-4"></div>
                    <div class="col"><a href="{% url 'spam:delete' object.pk %}"
                                        class="btn btn-outline-danger">
                        Удалить рассылку</a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}