{% extends 'spam/base.html' %}
{% block content %}
<div class="row text-center">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card mb-1 box-shadow">
            <div class="card-header">
                <h4 class="font-weight-normal">{{ object.title }}</h4>
            </div>
        </div>

        <div class="card mb-1 box-shadow">
            <div class="card-body">
                <div class="mb-3">
                    <h6 class="font-weight-normal">{{ object.body }}</h6>
                </div>
                <div class="mb-3">
                    <h6 class="font-weight-normal">{{ object.spam_time }}</h6>
                </div>
                <div class="mb-3">
                    <h6 class="font-weight-normal">{{ object.periodicity }}</h6>
                </div>

                <div class="mb-3">
                    <h6 class="font-weight-normal">{{ object.status }}</h6>
                </div>
                <br>
                <div class="mb-3">
                    <h6 class="font-weight-normal">
                        {% for client in object.clients.all %}
                        <p>{{ client }}</p>
                        {% endfor %}
                    </h6>
                </div>
                <br>
                <div class="mb-3">
                    <h6 class="font-weight-normal">{% for message in object.messages.all %} {{ message }} {% endfor %}</h6>
                </div>
                <div class="d-flex justify-content-between">
                    <div><a href="{% url 'spam:change_spam' object.pk %}"
                            class="btn btn-outline-secondary mt-3 mb-1">
                        Изменить рассылку
                    </a>
                    </div>
                    <div><a href="{% url 'spam:delete_spam' object.pk %}"
                            class="btn btn-outline-secondary mt-3 mb-1">
                        Удалить рассылку
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
