{% extends 'spam/base.html' %}
{% block content %}
<div class="row text-center">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card mb-1 box-shadow">
            <div class="card-header font-weight-normal">
                <h4>{{ object.title }}</h4>
            </div>

            <div class="card-body">
                <div class="mb-3 font-weight-normal">
                    <h6>Время рассылки:</h6>
                    <h6 class="text-muted">{{ object.spam_time }}</h6>
                </div>
                <hr>
                <div class="mb-3 font-weight-normal">
                    <h6>Периодичность (дней):</h6>
                    <h6 class="text-muted">{{ object.periodicity }}</h6>
                </div>
                <hr>
                <div class="mb-3 font-weight-normal">
                    <h6>Текущий статус:</h6>
                    <h6 class="text-muted">{{ object.get_status_display|title }}</h6>
                    <btn class="btn-primary" href="{{ object.status }}">Запустить рассылку</btn>
                </div>
                <hr>
                <div class="mb-3 font-weight-normal">
                    <h6>Получатели рассылки:</h6>
                    {% for client in object.clients.all %}
                    <h6 class="text-muted">{{ client }}</h6>
                    {% endfor %}
                    <hr>
                    <div class="mb-3 font-weight-normal">
                        <h6>Сообщение к отправке:</h6>
                        <h6 class="text-muted">{{ object.message }}</h6>
                    </div>

                </div>
            </div>

            <div class="card-footer">
                <div class="row">
                    <div class="col"><a href="{% url 'spam:change_spam' object.pk %}"
                                          class="btn btn-outline-secondary">
                        Изменить рассылку</a>
                    </div>
                    <div class="col-4"></div>
                    <div class="col"><a href="{% url 'spam:delete_spam' object.pk %}"
                                          class="btn btn-outline-danger">
                        Удалить рассылку</a>
                    </div>
                </div>
            </div>

            {% endblock %}