{% extends 'spam/base.html' %}

{% block content %}
<a href="{% url 'spam:create_spam' %}" class="btn btn-outline-secondary mb-3">
    Создать новую рассылку
</a>
<div class="row">
    <div class="col-12">
        <div class="col-6">
            <div class="form-control border-success border-opacity-25 text-center fs-5">Общий список рассылок</div>
            <table class="table">
                <tr>
                    <th>Номер</th>
                    <th>Название рассылки</th>
                    <th>Время</th>
                    <th>Периодичность</th>
                    <th>Статус</th>
                    <th></th>
                </tr>
                {% for item in object_list %}
                <tr class="align-middle">
                    <td>{{ item.pk }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.spam_time }}</td>
                    <td>{{ item.periodicity }}</td>
                    <td>{{ item.status }}</td>
                    <td>
                        <a type="button" href="{% url 'spam:spam_detail' item.pk %}"
                           class="btn btn-outline-dark"">
                            Подробнее
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}