{% extends 'spam/base.html' %}

{% block content %}
<a href="{% url 'client:create' %}" class="btn btn-outline-secondary mb-3">
    Добавить нового клиента сервиса
</a>
<div class="row">
    <div class="col-6">
        {% if not object_list %}
            <div class="form-control border-success border-opacity-25 text-center fs-5">Клиенты отсутствуют</div>
            {% else %}
        <div class="form-control border-success border-opacity-25 text-center fs-5">Список клиентов</div>
        <table class="table text-center">
            <tr>
                <th>ФИО</th>
                <th>Эл. почта</th>
                <th></th>
            </tr>
            {% for client in object_list %}
            <tr class="align-middle">
                <td>{{ client.full_name }}</td>
                <td>{{ client.email }}</td>
                <td>
                    <a type="button" href="{% url 'client:detail' client.pk %}"
                       class="btn btn-outline-dark btn-sm">
                        Подробнее
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}