{% extends 'spam/base.html' %}
{% block content %}
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card mb-1 box-shadow text-center">
            <div class="card-header">
                <h4 class="font-weight-normal">{{ object.subject }}</h4>
            </div>


            <div class="card-body">
                <div class="mb-3 font-weight-normal">
                    <h6>Текст сообщения:</h6>
                    <h6 class="text-muted">{{ object.body }}</h6>
                </div>
            </div>

            {% if object.created_by == user %}
            <div class="card-footer">
                <div class="row">
                    <div class="col"><a href="{% url 'message:update' object.pk %}"
                                        class="btn btn-outline-secondary">
                        Изменить запись</a>
                    </div>
                    <div class="col-4"></div>
                    <div class="col"><a href="{% url 'message:delete' object.pk %}"
                                        class="btn btn-outline-danger">
                        Удалить запись</a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
           href="{% url 'message:list' %}">Назад</a>
    </div>
</div>

{% endblock %}
